body {
    font-family: "roboto";
}

.logo-size {
    width: 100px;
}
header ul {
    height: 100%;
}
header a {
    color: #5f6368;
}

header li {
    border-bottom: 2px solid transparent;
}

header li:hover {
    color: #3367d6;
    border-bottom: 2px solid  #3367d6;
} 

.ul-container { 
    border-bottom: .5px solid  #5f6368; 
}

